@import 'variables.scss';
.Reply-container {
    width: 40rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $box_shadow_main;
    border-radius: .3rem;
    padding: 0 1rem 1rem 1rem;
    textarea {
        font-size: 1.2rem;
        width: 100%;
    }
    button[type=submit] {
        font-size: 1.2rem;
        align-self: flex-end;
    }
}