@import '../../variables.scss';
.Reply-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $box_shadow_main;
    background-color: $color-bg-secondary;
    color: $color-font_main;
    border-radius: .1rem;
    padding: 0 1rem 1rem 1rem;
    textarea {
        font-size: 1.2rem;
        width: 100%;
    }
    button[type=submit] {
        font-size: 1.2rem;
        align-self: flex-end;
    }
}

.Reply-header {
    align-self: start;
    margin-top: 1rem;
    margin-left: .2rem;
    margin-bottom: -.4rem;
    font-size: 1.2rem;
}
