@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Josefin+Sans:100,300,400");
@import 'variables.scss';
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:300"); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}

html {
    /* font-size: 62.5%; */
}

.html-dark-background {
    background-color: $color-bg-main;
}