@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Josefin+Sans:100,300,400");
@import 'variables.scss';
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:300"); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}

html {
    @media (orientation: landscape) {
        @media (min-width: 600px) {
            font-size: 44%;
        }
        @media (min-width: 900px) {
            font-size: 66%;
        }
        @media (min-width: 1200px) {
            font-size: 80%;
        }
        @media (min-width: 1800px) {
            font-size: 100%;
        }
    }
}

.html-dark-background {
    background-color: $color-bg-main;
}