@import 'mixins.scss';
@import 'variables.scss';
.Signup-container {
    width: 100%;
    @include flexList();
    form {
        @include flexList();
        color: $color-font-main;
    }
    .Signup-buttons {
        display: grid;
        width: 100%;
        grid-template-columns: 8fr 2fr;
        grid-column-gap: 1rem;
        align-items: center;
        margin-top: 1rem;
        justify-items: end;
        .Signup-options-info {
            color: $color-font-main;
            a {
                color: $color-font-secondary;
                text-decoration: none;
                &:hover {
                    color: $color-font-main;
                    text-decoration: underline;
                }
            }
        }
    }
}