@import '_variables.scss';
.Navigation-container {
    width: 100%;
    height: $navigation_height;
    background-color: #212121;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    nav {
        float: right;
        display: flex;
        height: 100%;
        margin-right: 1rem;
        a {
            color: white;
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            &:hover {
                background-color: #414141;
            }
            padding: 0 1rem;
        }
        .account-menu {
            position: fixed;
            top: calc(#{$navigation_height} + .5rem);
            right: .5rem;
            width: 10rem;
            list-style: none;
            background-color: #212121;
            overflow: hidden;
            border-radius: .3rem;
            z-index: 10;
            li>a {
                height: 3rem;
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    }
}