@import 'variables';

.CommentNode-container {
    .CommentNode-container-Node-body {
        font-size: 1.3rem;
    }
    margin-top: 1rem;

    div.Field-container button {
      color: darken($color-font-secondary, 30%);
    }
}
