@import 'variables.scss';
.Post__container {
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: $box_shadow_main;
    margin-top: 1rem;
    .Post__header {
        .Post__avatar {
            float: left;
            width: 3rem;
            border-radius: 3rem;
            margin-right: 1rem;
        }
        .Post__button--more {
            float: right;
            background: none;
            border: none;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.5);
            padding: .5rem;
            cursor: pointer;
            &:hover {
                color: rgba(0, 0, 0, 0.8)
            }
        }
        padding: 1rem 1rem 0 1rem;
        .Post__name {
            font-weight: bolder;
            font-size: 1.2rem;
        }
    }
    .Post__body {
        padding: 1rem;
        font-size: 1.3rem;
    }
    .Post__stats {
        padding: 0 1rem 1rem 1rem;
    }
    .Post__buttons {
        .Post__buttons-icon {
            font-size: .8rem;
        }
        padding: 0 1rem 1rem 1rem;
    }
}