@import '../../_variables.scss';
@import '../../_mixins.scss';
.Greeter__container {
    position: relative;
    z-index: 205;
    .Greeter__white-screen {
        @include viewportSheet();
        background-color: white;
        &.animate {
            animation: fadeOut .5s ease-out 0s 1 normal forwards;
        }
    }
    .Greeter__logo-screen {
        @include viewportSheet();
        background-color: $color-bg-main;
        &.animate {
            @media (orientation: landscape) {                
                animation: fadeOut .5s ease-out 3.75s 1 normal forwards;
            }
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .Greeter__logo {
            font-size: 5rem;
            font-weight: bold;
            color: $color-font-main;
            span:last-child {
                color: $color-accent-main;
            }
        }
        .Greeter__headline,
        .Greeter__headline_warning {
            color: $color-font-main;
            font-size: 1.5rem;
            opacity: 0;
            text-align: center;
            &.animate {
                animation: fadeOut 1s ease-out 1s 1 reverse forwards;
            }
        }
        .Greeter__headline_warning {
            @media (orientation: landscape) {
                display: none;
            }
            a {
                color: white;                
            }
        }
        .Greeter__headline {
            @media (orientation: portrait) {
                display: none;
            }
        }
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}
