.CommentsView-container {
    display: flex;
    justify-content: center;
    .CommentsView-content {
        width: 40rem;
        .CommentsView-comments {
            padding: 1rem;
            margin-top: -2rem;
        }
    }
}

.CommentsView-CommentNode-container {
    .CommentsView-CommentNode-container-Node-body {
        font-size: 1.3rem;
    }
    margin-top: 1rem;
}