@mixin flexList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.Login-container {
    width: 100vw;
    height: 100vh;
    @include flexList();
    form {
        @include flexList();
    }
}