@import 'mixins.scss';
.AddEdu-container {
    width: 100%;
    height: 100vh;
    @include flexList();
    form {
        @include flexList();
        width: 30rem;
        input[type=text] {
            font-size: 1rem;
            padding: .6rem;
            width: 100%;
        }
    }
}