@import '../../variables.scss';
.Overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.5);
    .content {
        z-index: 10;
        background: $color-bg-secondary;
        color: $color-font-main;
        padding: 0.3rem;
        border-radius: .3rem;
        box-shadow: $box_shadow_main;
        display: inline-block;
        margin: 2rem 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
