@import 'variables';
.Discover-container {
    position: sticky;
    box-shadow: $box_shadow_main;
    background-color: $color-bg-secondary;
    color: $color-font-main;
    border-radius: .1rem;
    padding: 1rem;
    width: 100%;
    top: 4rem;
    .lds-facebook {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
