.ProfilePage-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    .content {
        display: flex;
        flex-direction: column;
        text-align: center;
        section {
            margin: 0 0 1.5rem 0;
            padding: 1rem;
            &:not(:first-child) {
                border: .05rem solid gray;
                border-radius: .3rem;
            }
        }
        .intro {
            img {
                width: 10rem;
            }
            background-color: gray;
            color: white;
        }
        .bio {}
        .skills {}
        .exp-edu {
            display: flex;
        }
    }
}