.Field-container {
    &.inline {
        display: inline;
    }
    width: 100%;
    margin: 1rem 0 0 0;
    input[type=checkbox] {
        transform: scale(1.5);
    }
    .button,
    button[type=submit] {
        min-width: 6rem;
        padding: 0 1rem;
        height: 2rem;
        font-size: 1rem;
        border-radius: .3rem;
    }
    button[type=submit] {
        float: right;
    }
    .button-action {
        background-color: #090;
        border-color: #090;
        color: white;
    }
    .link-button {
        background: none;
        border: none;
        font-weight: bold;
        font-size: 1.1rem;
        color: darkblue;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    input[type=text],
    input[type=password] {
        font-size: 1rem;
        padding: .6rem;
        width: 100%;
    }
    label {
        display: inline-block;
        padding: .2rem;
    }
    .error {
        display: inline-block;
        color: red;
        padding: .2rem;
    }
}