.ProfileView-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0px 3px 23px 0px rgba(0, 0, 0, 0.5);
    section {
        margin: 0 0 1.5rem 0;
        padding: .5rem 2rem;
        display: grid;
        grid-template-columns: .2fr 1fr;
        grid-column-gap: .2rem;
        justify-items: start;
        .header {
            font-weight: bolder;
            font-size: 1.2rem;
        }
    }
    .intro {
        padding: 1.5rem 2rem;
        grid-column-gap: 1rem;
        grid-template-columns: .46fr 1fr .1fr;
        .info {
            .links {
                margin-top: .4rem;
                a {
                    color: white;
                    font-size: 1.5rem;
                    margin-right: .4rem;
                    &:hover {
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
            color: white;
        }
        img {
            width: 10rem;
        }
        background-color: cornflowerblue;
    }
    .skills {
        .tag {
            background-color: lightgray;
            border-radius: .1rem;
            margin-right: .2rem;
            padding: .2rem 1rem;
        }
    }
    .experience,
    .education {
        .nodes {
            .node {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}