.Feed-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    width: 70rem;
    align-items: center;
    padding-bottom: 8rem;
    .Feed-message {
        display: block;
        margin: 2.85rem 0;
        padding: .25rem 2rem;
        font-size: 1.1rem;
        background: #eee;
        color: #555;
        border-radius: .2rem;
    }
    .Feed-lft-column {}
    .Feed-mid-column {}
    .Feed-rgt-column {}
}